
/* font changes */
.italic { 
  font-style: italic; }




/* Navigation bar */ 

/* General */
/* nav {
   border-bottom: 2px aliceblue solid  !important;  /* color sheme change from dark with orange #FF6200 
        
  } */


.customNAV{
     width: 100%;
     background-color: aliceblue;
    /* background:url(/images/transparency.png); */ /* ?change to black? */ 
    background-color: transparent !important; 
    background-size: cover;
    
    z-index: 10;
         
  } /* Setting the `z-index value` for the `customNav` class ensures that the navbar is above other content on the page. */
   
  .navbar-nav{
    margin-left: auto;
    margin-right: 0 !important;
      
  }
  
  .navbar-brand img{
    padding-right: 15px;
    width: 80px;
    height: auto;
    
    
    }
  
  .nav-item{
    margin: 0px 15px;
    
  }
  
  /* Navigation links */
  .custonNAV a {
    color: white !important;
      
    }
  
  .navCTA {
    font-size: 15px;
  }
  
  /* navigation drop down menu */
  
  .dropdown-menu{
   
    /* background: url(/images/transparency.png); */ /* gray background removed */
    background-color: transparent !important;
    background-size: cover;
   
  }

  .dropdown-item{
    color: white;
  }
  
  .dropdown-item:focus, .dropdown-item:hover{
    color: orangered;
    text-decoration: none;
    background: whitesmoke;
  }


/* Jumbotron */
.jumbotron{
  text-align: center; 
  color: aliceblue;
  background-image: url(/images/TSR.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  height: 600px;
  height: calc(100vh - 25px);
  display:flex;
  position: relative;
  align-items: center;
  justify-content: center;
  } 


  /* jumbotron copy */ 
  .jumboCopy{
    width: 70%;
    max-width:400px;
    max-width: 600px;
    color: white;
    text-align: center;
    
  }

  
  /* project-new styling */ 

  .project-new {    
    width: 100%;
    display: flex;
    padding:20px;
    justify-content: space-around;
    margin: 10px;
      }

  /* card set up */

  .cardContainer:first-child {
    flex-basis: 100%;
    max-width: 95%;
    justify-content:space-around;
    margin: 20px;
    margin-right: 0%;
  }

  .cardContainer:first-child img {
    height: auto;
    width: 20% !important;
    float: left;
    margin: 15px;}
    
  
  .cardContainer:nth-child(2n + 1) {
    width:100%;
    margin-right: 0;
    height: auto;
   } 

    .card-img-top { 
      width: 100%;
      max-height: 220px;
      object-fit:contain;
      
     }
 

.card .container-right{
  max-width: 60%;
  float: left;
  margin: 15px;
  
  
 
}
    


 

/* project-new - styling end  */ 

/*----------------------------------------------------------------------------*/

  /* temp - About and Old Projects */
  main .container {
    width: 100%;
    display: flex;
  }
  
  main .container .container-left {
    height: 100%;
    border-right: 2px solid rgb(3, 27, 71);
    padding: 20px 15px;
    width: 35%;
  }
  
  main .container .container-left h2 {
    font-size: 32px;
    line-height: 44px;
    color: rgb( 3, 27, 71);
  }
  
  main .container .container-right {
    width: 65%;
    float: left;
    padding: 20px 15px;
  }
  
  main .container .container-right img {
    height: auto;
    width: 20%;
    float: left;
    margin: 0 15px 15px 0;
  }
  
  main .container .container-right p {
    float: left;
  }
  
  main .projects .container-right {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* projects - all */
  
  .project {
    flex-basis: calc(50% - 10px);
    background-color: aqua;
    height: 300px;
    margin-bottom: 20px;
    margin-right: 20px;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    background-image: url(../assets/02-space_holder\ left.jpg); /* space holder left */
  
  }
  
  
  /* ------------------ Main Project - custom ----------------------- */ 
  .project:first-child {
    flex-basis: 100%;
    margin-bottom: 20px;
    
    /* first child - cosmetics */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
       
  
  }
  
  /* ----------------  secondary project's - custom ---------------- */
  
  
  
  /* other children's - (2n+1) cosmetics */ 
  .project:nth-child(2n + 1) {
    margin-right: 0;
    background-image: url(../assets/02-space_holder\ right.jpg);
  }
  
  
  /* ------------- project headings ------------ */
  
  .project-heading {
    background-color: black;
    text-align: center;  
    color: white;
    font-size: 16px;
    border-bottom: 5px solid #FF6200;
     }
  
  .project:first-child .project-heading {
   
    background-color: black;
    text-align: center;  
    color: white;
    font-size: 26px;
    border-bottom:  5px solid #FF6200; }
    
  
  /* ------ single project spec - by project ID ------ */ 
  
  #Automation {
    background-image: url(../assets/IMG_0145.JPG);
    
  
  }
  
  #Horiseon {
    background-image: url(../assets/challenge-WC1.png);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
  }
  
  #Calculator{
    background-image: url(../assets/02-portfolio-2.jpg );
  }

/* footer  */
.footer {
  padding: 10px 0;
  position: absolute;
  height: 100px;
  width: 100%;
  align-items: baseline;
}
.mb-4 {
margin-bottom: auto !important;
padding-bottom: 5px;
}

.social-network {
  text-transform: uppercase;
  }





/* ----------------- Media Query ------------ */ 
@media screen and (max-width: 768px) {
 
  main .container {
      flex-direction: column;
  }
  main .container .container-left {
      width: 100%;
      border-right: none;
      border-bottom: 2px solid purple;
  }
  main .container .container-right {
      width: 100%;
  }
  main .skills{
      flex-basis: 100%;
      height: 200px;
      margin-bottom: 20px;
      margin-right: 0px;
              
  }


 
}


  
/* temp end */  